// Add some modules
@require './modules/colors.styl'
@require './modules/input.styl'
@require './modules/tree-chart.styl'

*
  box-sizing border-box
html
  font-size 18px
  font-family Helvetica, sans-serif
