$button-color = #54d48b
$hover-button-color = shade($button-color, 8%)
$active-button-color = shade($button-color, 18%)

#input-container
  margin-bottom 21px
  width 100%
  textarea
    width 100%
    font-size 14px
    border-radius 5px 5px 0 0
    padding 5px
    outline none
    resize vertical
    border 2px solid #000
    margin 0
    min-height 75px
  > button
    width 100%
    font-size 16px
    background $button-color
    border 2px solid #000
    border-top none
    cursor pointer
    padding 8px
    margin 0
    &:hover
      background-color $hover-button-color
    &:active
      background-color $active-button-color
    &.active
      animation simulateActiveState 125ms 1

@keyframes simulateActiveState {
  0% {
    background-color $button-color
  }
  50% {
    background-color $active-button-color
  }
  100% {
    background-color $button-color
  }
}
